<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>商品一覧</h2>
    </div>
    <div class="col-sm-2 px-sm-0 text-right md-2">
      <%= link_to new_admin_item_path, class:"btn btn--circle btn--circle-c btn--shadow" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12 px-sm-0 mx-auto md-6">
        <table class="table text-container admin-items mb-5">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @items.each do |item| %>
          <tbody>
            <tr>
                <td class="align-items-center"><%= item.id %></td>
                <td class="align-items-center">
                  <%= link_to admin_item_path(item) do %>
                    <%= item.name %>
                  <% end %>
                </td>
              <td class="align-items-center"><%= item.price %></td>
              <td class="align-items-center"><%= item.genre.name %></td>
              <td class="align-items-center">
                <% if item.is_active == true %>
                  <p class="text-success font-weight-bold">販売中</p>
                <% else %>
                  <p class="text-danger font-weight-bold">販売停止中</p>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

