<div class="container">

  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2><%= @customer.family_name %> <%= @customer.first_name %>さんの会員情報編集</h2>
    </div>
  </div>
  
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch, local: true do |f| %>
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <table class="table">
        <tr>
          <th class="table-active">会員ID</th>
          <td><%= @customer.id %></td>
　　　  </tr>
　　    <tr>
          <th class="table-active">氏名</th>
          <td><%= f.text_field :family_name %> <%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th class="table-active">フリガナ</th>
          <td><%= f.text_field :family_name_kana %> <%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th class="table-active">郵便番号</th>
          <td><%= f.text_field :post_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th class="table-active">会員ステータス</th>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会" %>
            <td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-lg-6 px-sm-0 offset-sm-1">
　     <%= f.submit "変更を保存", class: "btn btn-success" %>
  </div>

  <% end %>

</div>