<h2><%= @customer.family_name %> <%= @customer.first_name %>さんの会員詳細</h2>
<p>会員ID <%= @customer.id %> </p>
<p>氏名 <%= @customer.family_name %> <%= @customer.first_name %></p>
<p>フリガナ <%= @customer.family_name_kana %> <%= @customer.first_name_kana %></p>
<p>郵便番号 <%= @customer.post_code %></p>
<p>住所 <%= @customer.address %></p>
<p>電話番号 <%= @customer.phone_number %></p>
<p>メールアドレス <%= @customer.email %></p>
<p>会員ステータス <%= @customer.is_deleted ? 'gray' : 'green' %>;"><%= @customer.is_deleted ? '退会済み' : '有効' %></p>

<%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success btn-space' %>
<%= link_to '注文履歴一覧を見る', admin_admin_path(@customer), class: 'btn btn-info' %>