<div class="container mt-5">
  <h4>注文情報入力</h4>

  <%= form_with model: @order, url: "/orders/confirm", method: :post, local: true do |f| %>
    <div class="mt-4">
      <h5>支払方法</h5>
      <div class="form-check">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0), class: "form-check-input" %>
        <%= f.label :payment_method_credit_card, "クレジットカード", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1),class: "form-check-input" %>
        <%= f.label :payment_method_method_transfer, "銀行支払い", class: "form-check-label" %>
      </div>
    </div>

    <div class="mt-4">
      <h5>お届け先</h5>

      <!-- ご自身の住所のラジオボタン -->
      <div class="form-check">
        <%= f.radio_button :address_option, :own_address, class: "form-check-input", checked: true %>
        <%= f.label :order_address, "ご自身の住所", class: "form-check-label" %>
        <br>
        〒<%= current_customer.post_code %>
        <%= current_customer.address %><br>
        <%= current_customer.family_name %><%= current_customer.first_name %>
      </div>

      <!-- 既存の住所から選択するラジオボタン -->
      <div class="form-check">
        <%= f.radio_button :address_option, :existing_address, class: "form-check-input" %>
        <%= f.label :existing_address, "登録済み住所から選択", class: "form-check-label" %>
        <br>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </div>

      <!-- 新しいお届け先を登録のラジオボタン -->
      <div class="form-check">
        <%= f.radio_button :address_option, :new_address, class: "form-check-input" %>
        <%= f.label :new_address, "新しいお届け先を登録", class: "form-check-label" %>
      </div>

      <!-- 新しいお届け先の登録フォーム -->
      <div class="mt-4">
        <%= form_with(model: @address, url: "/addresses", method: :post, local: true) do |address_form| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                郵便番号(ハイフンなし)
              </div>
              <div class="col-md-3">
                <div>
                  <%= address_form.text_field :post_code, class: "form-control", placeholder: "0000000" %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                住所
              </div>
            <div class="col-md-5">
              <div>
                <%= address_form.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
              </div>
            </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                宛名
              </div>
            <div class="col-md-3">
              <div>
                <%= address_form.text_field :name, class: "form-control", placeholder: "山田太郎" %>
              </div>
            </div>
            </div>
          </div>
        <% end %>
        <div class="mt-4 text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary", formmethod: "post" %>
        </div>
      </div>

    </div>


  <% end %>