<h2>新規会員登録</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: @customer, local: true) do |form| %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-1">
              <%= form.label :first_name,"(姓)",class: "col-form-label" %>
            </div>
            <div>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>

            <div class="col-md-1">
              <%= form.label :last_name, class: "col-form-label" %>
            </div>
            <div>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <%= form.label :first_name_kana, class: "col-form-label" %>
            </div>
            <div>
              <%= form.text_field :first_name_kana, class: "form-control" %>
            </div>

            <div class="col-md-6">
              <%= form.label :last_name_kana, class: "col-form-label" %>
              <%= form.text_field :last_name_kana, class: "form-control" %>
            </div>
          </div>
        </div>

        <!-- 他の項目を追加 -->

        <div class="form-group text-center">
          <%= form.submit '登録する', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "public/shared/links" %>
