<div class="container">
  <div class="row">

    <!--ジャンル検索左側-->

    <!--商品一覧-->

    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>商品一覧(全<%= @items.count %>件)</h2>
    </div>


    <div class="col-xs-9">
      <% @items.each do |item| %>

　　　  <!--商品画像をクリックしたら、商品詳細画面に遷移-->
        <%= link_to item_path(item) do %>
          <p><%= image_tag item.image,size: "300x200" %></p>
        <% end %>

        <!--商品名-->
        <p><%= item.name %></p>
        <!--(販売中だったら、)商品価格表示-->
        <p>¥<%= (item.price * 1.1).floor %>（税込）</p>

      <% end %>
    </div>

  </div>
</div>